<!DOCTYPE html>
<html>
<head>
    <title>WOL Server</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <style>.user-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .username-label,
    .permission-label {
        margin-right: 10px;
        font-weight: bold;
    }
    .username,
    .input-field {
        flex-grow: 1;
    }
    .btn-small {
        margin-left: 10px;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="container">
        <h1 class="center-align">Wake-on-LAN Server</h1>
        <div class="row">
            <div class="col s12">
                <ul class="tabs" style="display: flex; justify-content: center;">
                    <li class="tab"><a href="#view-pcs">Manage PCs</a></li>
                    {% if user_permission == 'admin' %}
                    <li class="tab"><a href="#manage-users">Manage Users</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="view-pcs" class="col s12">
            <div id="view-pcs" class="col s12">
                <h2 class="center-align">Current PCs</h2>
                <ul class="collection" id="pcs-list"></ul>
                <div class="center-align red-text" id="message"></div>
            </div><BR>
            <h2 class="center-align">Add PC</h2>
            <div class="row">
                <form class="col s12" id="add-pc-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="mac" type="text" name="mac" class="validate" required>
                            <label for="mac">MAC Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="ip" type="text" name="ip" class="validate" required>
                            <label for="ip">IP Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="hostname" type="text" name="hostname" class="validate" required>
                            <label for="hostname">Hostname</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light" type="submit">Add PC
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if user_permission == 'admin' %}
        <div id="manage-users" class="col s12">
            <h2 class="center-align">Manage Users</h2>
            <div class="row">
                <form class="col s12" id="create-user-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" name="username" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="password" type="password" name="password" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s6">
                            <select id="permission" name="permission" required>
                                <option value="admin">Admin</option>
                                <option value="user" selected>User</option>
                            </select>
                            <label for="permission">Permission</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light" type="submit">Create User
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <h3 class="center-align">Existing Users</h3>
                <ul class="collection" id="user-list">
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="center-align">
            <button class="btn waves-effect waves-light red" id="logout-button">Logout</button>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/wol.js"></script>
</html>
